.comingsoon{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-light;
    flex-direction: column;
    &__logo-wrapper{
        width: 100px;
    }

    &__header{
        margin: 0 0 1rem 0;
    }
    &__card{
        background: $white;
        padding: 1rem;
        border-radius: 4px;
        max-width: 700px;
        
    }
    &__alert{
        background: mix($green, #fff, 10);
        padding:1rem;
        color: $green;
        border: 1px solid $green;
        border-radius: 4px;
        display: flex;
        align-items:  center;
        font-size: 1.2rem;
    }
    &__icon{
        margin-right: .5rem;
    }
    &__text{
        margin: 0 auto;
    }
    &__body{
        font-size: 1.4rem;
        line-height: 1.75rem;
        color: $gray-darkest;
        margin:1.5rem 0;
    }
    &__home{
        text-align: center;
    }
}

